header {
  padding: 0.4rem;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  color: white;
  background-color: black;
}
header nav {
  font-size: 3vw;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 5fr max-content max-content max-content max-content;
  gap: 1em;
  align-items: center;
}
header img {
  height: auto;
  width: 6vw;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #9252ff;
}

#exercises {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 75vw;
  padding: 5rem;
  background-color: black;
}

#projects nav {
  position: absolute;
  display: grid;
  grid-template-rows: 3fr 3fr 3fr 1fr;
  top: 20rem;
  right: 0vw;
  background-color: black;
  width: 30%;
  padding-left: 3rem;
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Gallery */

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 10vw;
}

/* Modal */

dialog {
  position: fixed;
  top: 5vh;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 auto;
}

dialog img {
  width: 100%;
  max-height: 83vh;
}

dialog::backdrop {
  background: rgb(2, 22, 39 /0.8);
}

/* dialog animations */

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog:open {
  animation: fade-in 0.7s ease-out;
}

dialog:open::backdrop {
  animation: fade-in 0.7s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}

section {
  overflow: hidden;
}

a h1:hover {
  color: black;
}

.seperator {
  background-color: black;
  width: 100vw;
  height: 7vh;
}

footer {
  padding: 2em;
  background-color: black;
  text-align: center;
}

footer a {
  color: aliceblue;
}

footer a:hover {
  color: rgb(4, 57, 103);
}

@media screen and (max-width: 1024px) {
  #gallery {
    grid-template-columns: 1fr;
    padding-top: 25vw;
  }
  header {
    padding: 1rem;
  }
  header nav {
    font-size: 5vw;
    padding-right: 0;
  }
}

/* .parent { 
  display: flex;
  height: 500px;
}

.gear {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: #000000;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



.tooth {
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background: #000000;
}

.tooth:nth-child(2) {
  transform: rotate(45deg);
}

.tooth:nth-child(3) {
  transform: rotate(90deg);
}

.tooth:nth-child(4) {
  transform: rotate(135deg);
}

 @keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
