* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 25px;
  height: 100%;
  scroll-behavior: smooth;
}
h1 {
  margin-top: 0;
}

body {
  min-height: 100vh;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

figcaption {
  color: aliceblue;
  width: 100%;
  text-align: center;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: hsl(208, 0%, 60%);
}

img,
video {
  max-width: 100%;
  height: auto;
}
