header {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

section {
    padding: 50px;
    font-size: 1.3em;
}

article {
    padding: 2em;
}

img {
    height: auto;
    width: 300px;
}

article img{
    transition: transform 0.5s;
}

.move-right{
    transform: translateX(300px);
}

#spin:hover{
    transform: rotate(360deg);
}

#big:hover{
    transform: scale(2);
}